<div class="interactive-wrapper">
    Content
</div>

<p>

	The economy of Wales is closely linked with the rest of the United Kingdom and the wider European Economic Area. In 2012, according to ONS provisional data, headline gross value added (GVA) in Wales was £47.3 billion, making the Welsh economy the tenth largest of the UK's twelve regions (counting Wales, Scotland and Northern Ireland alongside the nine English Government Office Regions) ahead of only Northern Ireland and the North East of England.[7] The modern Welsh economy is dominated by the service sector. In 2000, services contributed 66% to GVA, the manufacturing sector contributed 32%, while agriculture, forestry and fishing together contributed 1.5%.[8]

As in the rest of the United Kingdom, the currency used in Wales is the Pound, represented by the symbol £. The Bank of England is the central bank, responsible for issuing currency, and retains responsibility for monetary policy and is the central bank of the UK. The Royal Mint, which issues the coinage circulated over the whole of the UK, has been based at a single site in Llantrisant, south Wales since 1980, having progressively transferred operations from their Tower Hill, London site from 1968.[9]

Economic output per head has been lower in Wales than in most other parts of the UK (and most other parts of Western Europe) for a very long time – in 2002 it stood at 90% of the EU25 average and around 80% of the UK average. However, care is needed in interpreting these data, since regional GDP/GVA per head data in the UK does not take account of regional differences in the cost of living, which in Wales is estimated to be 93–94% of the UK average. Thus the gap in living standards between Wales and more prosperous parts of the UK is not as pronounced.[10]

As the capital city of Wales, Cardiff is the main engine of growth in the Welsh economy and the significant service centre and economic driver for the wider south Wales economy.[10] The city and the adjoining Vale of Glamorgan contribute a disproportionately high share of economic output in Wales.[11] Cardiff is a centre for white-collar professions.[12] The city relies principally on the retail, finance, media and tourism sectors and has been undergoing major regeneration since the late 20th century, particularly in Cardiff city centre and Cardiff Bay.

</p>

<ul class='name-list'>
	<li class='name-list__item'>
		Economic output per head has been lower in Wales than in most other parts of the UK (and most other parts of Western Europe) for a very long time – in 2002 it stood at 90% of the EU25 average and around 80% of the UK average. However, care is needed in interpreting these data, since regional GDP/GVA per head data in the UK does not take account of regional differences in the cost of living, which in Wales is estimated to be 93–94% of the UK average. Thus the gap in living standards between Wales and more prosperous parts of the UK is not as pronounced.[10]

		<button class='button button--hidden'></button>

	</li>
	<li class='name-list__item'>
		Economic output per head has been lower in Wales than in most other parts of the UK (and most other parts of Western Europe) for a very long time – in 2002 it stood at 90% of the EU25 average and around 80% of the UK average. However, care is needed in interpreting these data, since regional GDP/GVA per head data in the UK does not take account of regional differences in the cost of living, which in Wales is estimated to be 93–94% of the UK average. Thus the gap in living standards between Wales and more prosperous parts of the UK is not as pronounced.[10]

		<button class='button button--hidden'></button>

	</li>
	<li class='name-list__item'>
		Economic output per head has been lower in Wales than in most other parts of the UK (and most other parts of Western Europe) for a very long time – in 2002 it stood at 90% of the EU25 average and around 80% of the UK average. However, care is needed in interpreting these data, since regional GDP/GVA per head data in the UK does not take account of regional differences in the cost of living, which in Wales is estimated to be 93–94% of the UK average. Thus the gap in living standards between Wales and more prosperous parts of the UK is not as pronounced.[10]
		<button class='button button--hidden'></button>

	</li>
	<li class='name-list__item'>
		Economic output per head has been lower in Wales than in most other parts of the UK (and most other parts of Western Europe) for a very long time – in 2002 it stood at 90% of the EU25 average and around 80% of the UK average. However, care is needed in interpreting these data, since regional GDP/GVA per head data in the UK does not take account of regional differences in the cost of living, which in Wales is estimated to be 93–94% of the UK average. Thus the gap in living standards between Wales and more prosperous parts of the UK is not as pronounced.[10]

		<button class='button button--hidden'></button>
		
	</li>
</ul>

<p>

As in the rest of the United Kingdom, the currency used in Wales is the Pound, represented by the symbol £. The Bank of England is the central bank, responsible for issuing currency, and retains responsibility for monetary policy and is the central bank of the UK. The Royal Mint, which issues the coinage circulated over the whole of the UK, has been based at a single site in Llantrisant, south Wales since 1980, having progressively transferred operations from their Tower Hill, London site from 1968.[9]

Economic output per head has been lower in Wales than in most other parts of the UK (and most other parts of Western Europe) for a very long time – in 2002 it stood at 90% of the EU25 average and around 80% of the UK average. However, care is needed in interpreting these data, since regional GDP/GVA per head data in the UK does not take account of regional differences in the cost of living, which in Wales is estimated to be 93–94% of the UK average. Thus the gap in living standards between Wales and more prosperous parts of the UK is not as pronounced.[10]

As the capital city of Wales, Cardiff is the main engine of growth in the Welsh economy and the significant service centre and economic driver for the wider south Wales economy.[10] The city and the adjoining Vale of Glamorgan contribute a disproportionately high share of economic output in Wales.[11] Cardiff is a centre for white-collar professions.[12] The city relies principally on the retail, finance, media and tourism sectors and has been undergoing major regeneration since the late 20th century, particularly in Cardiff city centre and Cardiff Bay.

As in the rest of the United Kingdom, the currency used in Wales is the Pound, represented by the symbol £. The Bank of England is the central bank, responsible for issuing currency, and retains responsibility for monetary policy and is the central bank of the UK. The Royal Mint, which issues the coinage circulated over the whole of the UK, has been based at a single site in Llantrisant, south Wales since 1980, having progressively transferred operations from their Tower Hill, London site from 1968.[9]

Economic output per head has been lower in Wales than in most other parts of the UK (and most other parts of Western Europe) for a very long time – in 2002 it stood at 90% of the EU25 average and around 80% of the UK average. However, care is needed in interpreting these data, since regional GDP/GVA per head data in the UK does not take account of regional differences in the cost of living, which in Wales is estimated to be 93–94% of the UK average. Thus the gap in living standards between Wales and more prosperous parts of the UK is not as pronounced.[10]

As the capital city of Wales, Cardiff is the main engine of growth in the Welsh economy and the significant service centre and economic driver for the wider south Wales economy.[10] The city and the adjoining Vale of Glamorgan contribute a disproportionately high share of economic output in Wales.[11] Cardiff is a centre for white-collar professions.[12] The city relies principally on the retail, finance, media and tourism sectors and has been undergoing major regeneration since the late 20th century, particularly in Cardiff city centre and Cardiff Bay.

</p>